#wrapper{
  /* max-width: 1024px; */
  /* margin: 0 auto; */
  font-family: helvetica;
  /* background-color: #f2f1ed; */
  margin: 0;
  clear: both;
}

@media screen and (min-width: 1024px) {
  #sidebar{
    float: left;
    /* width: 30%; */
  }
}

nav{
  font-family: helvetica;
  padding-top: 0px;
  padding-bottom: 30px;
  float: none;
}
#navmain li{
  padding-right: 30px;
  list-style-type: none;
  float: right;
}
#navmain li a{
  text-decoration: none;
  color: #6e6e6c;
  font-weight: bold;
}
#navmain a:hover{
  text-decoration: underline;
  color: #a1d1ea;
}
header{
  padding: 30px 50px 30px 10px;
  height: 100px;
  background-color: #fca994;
  color: white;
  font-size: 25px;
  border-bottom: 15px solid red;
  float: right;
  width: 80%;
}
header h1{
  float: right;
}
blockquote.homequote{
  background-color: #C8C8C8;
  padding: 0.8% 1%;
  height: auto;
  font-size: 20px;
  color: white;
  max-width: 900px;
  width: auto;
  float: left;
  clear: both;
  font-style: italic;
  margin-left: 0px;
  margin-top: 30px;
  font-weight: lighter;
}
.homequote #quoteauthor{
  display: block;
  float: right;
  padding: 15px;
  font-size: 80%;
  font-style: normal;
  font-weight: bold;
}
.content{
  width: 98%;
  padding-top: 25%;
  margin-left: auto;
  margin-right: auto;
}
.img-circle{
  border-radius: 90%;
  height: 280px;
  margin: 10px;
  float: right;
}
/* iframe{
  display: block;
  padding-top: 20px;
} */
footer{
  position: absolute;
  vertical-align: baseline;
}

/************ Profile page stylesheet ************/

blockquote.profilequotes{
  color: grey;
  font-size: 30px;
  font-style: italic;
}
